# Metin Madenciliği ve Doğal Dil İşleme Giriş

## Metin Ön İşleme

In [1]:
import pandas as pd

In [2]:
metin = """
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""

metin

"\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches"

In [3]:
metin.split()

['A',
 'Scandal',
 'in',
 'Bohemia!',
 '01',
 'The',
 'Red-headed',
 'League,2',
 'A',
 'Case,',
 'of',
 'Identity',
 '33',
 'The',
 'Boscombe',
 'Valley',
 'Mystery4',
 'The',
 'Five',
 'Orange',
 'Pips1',
 'The',
 'Man',
 'with?',
 'the',
 'Twisted',
 'Lip',
 'The',
 'Adventure',
 'of',
 'the',
 'Blue',
 'Carbuncle',
 'The',
 'Adventure',
 'of',
 'the',
 'Speckled',
 'Band',
 'The',
 'Adventure',
 'of',
 'the',
 "Engineer's",
 'Thumb',
 'The',
 'Adventure',
 'of',
 'the',
 'Noble',
 'Bachelor',
 'The',
 'Adventure',
 'of',
 'the',
 'Beryl',
 'Coronet',
 'The',
 'Adventure',
 'of',
 'the',
 'Copper',
 'Beeches']

In [4]:
metin.split("\n")

['',
 'A Scandal in Bohemia! 01',
 'The Red-headed League,2',
 'A Case, of Identity 33',
 'The Boscombe Valley Mystery4',
 'The Five Orange Pips1',
 'The Man with? the Twisted Lip',
 'The Adventure of the Blue Carbuncle',
 'The Adventure of the Speckled Band',
 "The Adventure of the Engineer's Thumb",
 'The Adventure of the Noble Bachelor',
 'The Adventure of the Beryl Coronet',
 'The Adventure of the Copper Beeches']

In [5]:
v_metin = metin.split("\n")

In [6]:
v = pd.Series(v_metin)

In [7]:
v

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [8]:
metin_vektoru = v[1:len(v)]

In [9]:
metin_vektoru

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [10]:
mdf = pd.DataFrame(metin_vektoru, columns=["hikayeler"])

In [11]:
mdf

                                hikayeler
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

## Büyük-Küçük Harf

In [12]:
d_mdf = mdf.copy()

In [13]:
d_mdf

                                hikayeler
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [14]:
list1 = [1,2,3]

In [15]:
str1 = " ".join(str(i) for i in list1)

In [16]:
str1

'1 2 3'

In [17]:
d_mdf = d_mdf["hikayeler"].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [18]:
d_mdf

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: hikayeler, dtype: object

## Noktalama İşaretlerinin Silinesi

In [19]:
d_mdf

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: hikayeler, dtype: object

In [20]:
type(d_mdf)

pandas.core.series.Series

In [21]:
#d_mdf = pd.DataFrame(d_mdf, columns = ["hikayeler"])

In [22]:
d_mdf = d_mdf.str.replace(r"[^\w\s]", "", regex=True)

In [23]:
d_mdf

1                  a scandal in bohemia 01
2                    the redheaded league2
3                    a case of identity 33
4             the boscombe valley mystery4
5                    the five orange pips1
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: hikayeler, dtype: object

## Sayıları Silmek

In [24]:
d_mdf = d_mdf.str.replace(r"\d", "", regex=True)

## Stopwords

In [25]:
d_mdf = pd.DataFrame(d_mdf, columns = ["hikayeler"])

In [26]:
#!pip install nltk

In [27]:
import nltk

In [28]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Taha\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [29]:
from nltk.corpus import stopwords

In [30]:
sw = stopwords.words("english")

In [31]:
sw

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [32]:
d_mdf = d_mdf["hikayeler"].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

In [33]:
d_mdf

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: hikayeler, dtype: object

## Az Geçen Kelimelerin Silinmesi

In [34]:
d_mdf = pd.DataFrame(d_mdf, columns = ["hikayeler"])

In [35]:
pd.Series(" ".join(d_mdf["hikayeler"]).split()).value_counts()

adventure    6
scandal      1
bohemia      1
copper       1
coronet      1
beryl        1
bachelor     1
noble        1
thumb        1
engineers    1
band         1
speckled     1
carbuncle    1
blue         1
lip          1
twisted      1
man          1
pips         1
orange       1
five         1
mystery      1
valley       1
boscombe     1
identity     1
case         1
league       1
redheaded    1
beeches      1
Name: count, dtype: int64

In [36]:
sil = pd.Series(" ".join(d_mdf["hikayeler"]).split()).value_counts()[-3:]

In [37]:
sil

league       1
redheaded    1
beeches      1
Name: count, dtype: int64

In [47]:
d_mdf["hikayeler"].apply(lambda x: " ".join(i for i in x.split() if i not in sil))

1               scandal bohemia
2
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12             adventure copper
Name: hikayeler, dtype: object

## Tokenization

In [39]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Taha\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [40]:
#!pip install textblob

In [41]:
import textblob

In [42]:
from textblob import TextBlob

In [43]:
TextBlob(d_mdf["hikayeler"][1]).words

WordList(['scandal', 'bohemia'])

In [44]:
d_mdf["hikayeler"].apply(lambda x: TextBlob(x).words)

1                [scandal, bohemia]
2               [redheaded, league]
3                  [case, identity]
4       [boscombe, valley, mystery]
5              [five, orange, pips]
6               [man, twisted, lip]
7      [adventure, blue, carbuncle]
8       [adventure, speckled, band]
9     [adventure, engineers, thumb]
10     [adventure, noble, bachelor]
11      [adventure, beryl, coronet]
12     [adventure, copper, beeches]
Name: hikayeler, dtype: object

## Stemming

In [45]:
from nltk.stem import PorterStemmer
st = PorterStemmer()

In [46]:
d_mdf["hikayeler"].apply(lambda x: " ".join(st.stem(i) for i in x.split()))

1            scandal bohemia
2              redhead leagu
3                 case ident
4     boscomb valley mysteri
5             five orang pip
6              man twist lip
7     adventur blue carbuncl
8       adventur speckl band
9       adventur engin thumb
10    adventur nobl bachelor
11    adventur beryl coronet
12     adventur copper beech
Name: hikayeler, dtype: object

## Lemmatization

In [49]:
from textblob import Word
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Taha\AppData\Roaming\nltk_data...

True

In [50]:
d_mdf["hikayeler"].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

1              scandal bohemia
2             redheaded league
3                case identity
4      boscombe valley mystery
5              five orange pip
6              man twisted lip
7     adventure blue carbuncle
8      adventure speckled band
9     adventure engineer thumb
10    adventure noble bachelor
11     adventure beryl coronet
12      adventure copper beech
Name: hikayeler, dtype: object

In [51]:
mdf["hikayeler"][0:5]

1        A Scandal in Bohemia! 01
2         The Red-headed League,2
3          A Case, of Identity 33
4    The Boscombe Valley Mystery4
5           The Five Orange Pips1
Name: hikayeler, dtype: object

In [53]:
d_mdf["hikayeler"][0:5]

1            scandal bohemia
2           redheaded league
3              case identity
4    boscombe valley mystery
5           five orange pips
Name: hikayeler, dtype: object

# NLP Uygulamaları

## N-Gram

In [54]:
a = """
Bu örneği anlaşılabilmesi için daha uzun bir metin üzerinden göstereceğim.
N-gram'lar birlikte kullanılan kelimelerin kombinasyonlarını gösterir.
"""

In [55]:
TextBlob(a).ngrams(3)

[WordList(['Bu', 'örneği', 'anlaşılabilmesi']),
 WordList(['örneği', 'anlaşılabilmesi', 'için']),
 WordList(['anlaşılabilmesi', 'için', 'daha']),
 WordList(['için', 'daha', 'uzun']),
 WordList(['daha', 'uzun', 'bir']),
 WordList(['uzun', 'bir', 'metin']),
 WordList(['bir', 'metin', 'üzerinden']),
 WordList(['metin', 'üzerinden', 'göstereceğim']),
 WordList(['üzerinden', 'göstereceğim', "N-gram'lar"]),
 WordList(['göstereceğim', "N-gram'lar", 'birlikte']),
 WordList(["N-gram'lar", 'birlikte', 'kullanılan']),
 WordList(['birlikte', 'kullanılan', 'kelimelerin']),
 WordList(['kullanılan', 'kelimelerin', 'kombinasyonlarını']),
 WordList(['kelimelerin', 'kombinasyonlarını', 'gösterir'])]

## Part of speech tagging(POS)

In [56]:
nltk.download("averaged_perceptron_tagger")

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Taha\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [57]:
TextBlob(d_mdf["hikayeler"][2]).tags

[('redheaded', 'VBN'), ('league', 'NN')]

In [58]:
d_mdf["hikayeler"].apply(lambda x: TextBlob(x).tags)

1                        [(scandal, NN), (bohemia, NN)]
2                      [(redheaded, VBN), (league, NN)]
3                          [(case, NN), (identity, NN)]
4         [(boscombe, NN), (valley, NN), (mystery, NN)]
5               [(five, CD), (orange, NN), (pips, NNS)]
6                [(man, NN), (twisted, VBD), (lip, NN)]
7        [(adventure, NN), (blue, JJ), (carbuncle, NN)]
8        [(adventure, NN), (speckled, VBD), (band, NN)]
9     [(adventure, NN), (engineers, NNS), (thumb, VBP)]
10       [(adventure, NN), (noble, JJ), (bachelor, NN)]
11        [(adventure, NN), (beryl, NN), (coronet, NN)]
12      [(adventure, NN), (copper, NN), (beeches, NNS)]
Name: hikayeler, dtype: object

## Chunking (shallow parsing)

In [59]:
pos = d_mdf["hikayeler"].apply(lambda x: TextBlob(x).tags)

In [60]:
pos

1                        [(scandal, NN), (bohemia, NN)]
2                      [(redheaded, VBN), (league, NN)]
3                          [(case, NN), (identity, NN)]
4         [(boscombe, NN), (valley, NN), (mystery, NN)]
5               [(five, CD), (orange, NN), (pips, NNS)]
6                [(man, NN), (twisted, VBD), (lip, NN)]
7        [(adventure, NN), (blue, JJ), (carbuncle, NN)]
8        [(adventure, NN), (speckled, VBD), (band, NN)]
9     [(adventure, NN), (engineers, NNS), (thumb, VBP)]
10       [(adventure, NN), (noble, JJ), (bachelor, NN)]
11        [(adventure, NN), (beryl, NN), (coronet, NN)]
12      [(adventure, NN), (copper, NN), (beeches, NNS)]
Name: hikayeler, dtype: object

In [61]:
cumle = "R and Python are useful data science tools for the new or old data scientist who eager to do efficent data science task"

In [64]:
pos = TextBlob(cumle).tags

In [66]:
pos

[('R', 'NNP'),
 ('and', 'CC'),
 ('Python', 'NNP'),
 ('are', 'VBP'),
 ('useful', 'JJ'),
 ('data', 'NNS'),
 ('science', 'NN'),
 ('tools', 'NNS'),
 ('for', 'IN'),
 ('the', 'DT'),
 ('new', 'JJ'),
 ('or', 'CC'),
 ('old', 'JJ'),
 ('data', 'NNS'),
 ('scientist', 'NN'),
 ('who', 'WP'),
 ('eager', 'VBZ'),
 ('to', 'TO'),
 ('do', 'VB'),
 ('efficent', 'JJ'),
 ('data', 'NNS'),
 ('science', 'NN'),
 ('task', 'NN')]

In [68]:
reg_ecp = "NP: {<DT>?<JJ>*<NN>}"
rp = nltk.RegexpParser(reg_ecp)
sonuclar = rp.parse(pos)

In [71]:
sonuclar.draw()

## Named Entity Recognition

In [74]:
from nltk import word_tokenize, pos_tag, ne_chunk
nltk.download("maxent_ne_chunker")
nltk.download("words")

[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\Taha\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping chunkers\maxent_ne_chunker.zip.
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\Taha\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\words.zip.

True

In [77]:
cumle = "Hadley is creative people who work for R Studio AND he attented conference at Newyork last year"
print(ne_chunk(pos_tag(word_tokenize(cumle))))

(S
  (GPE Hadley/NNP)
  is/VBZ
  creative/JJ
  people/NNS
  who/WP
  work/VBP
  for/IN
  (ORGANIZATION R/NNP Studio/NNP)
  AND/CC
  he/PRP
  attented/VBD
  conference/NN
  at/IN
  (ORGANIZATION Newyork/NNP)
  last/JJ
  year/NN)

# Matematiksel İşlemler ve Basit Özellik Çıkarımı

## Harf/Karakter Sayısı

In [84]:
o_df = d_mdf.copy()

In [88]:
o_df["hikayeler"]

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: hikayeler, dtype: object

In [89]:
o_df["hikayeler"].str.len()

1     15
2     16
3     13
4     23
5     16
6     15
7     24
8     23
9     25
10    24
11    23
12    24
Name: hikayeler, dtype: int64

In [90]:
o_df["harf_sayisi"] = o_df["hikayeler"].str.len()

In [91]:
o_df

                    hikayeler  harf_sayisi
1             scandal bohemia           15
2            redheaded league           16
3               case identity           13
4     boscombe valley mystery           23
5            five orange pips           16
6             man twisted lip           15
7    adventure blue carbuncle           24
8     adventure speckled band           23
9   adventure engineers thumb           25
10   adventure noble bachelor           24
11    adventure beryl coronet           23
12   adventure copper beeches           24

## Kelime Sayısı

In [92]:
a = "scandal in bohemia"

In [93]:
a.split()

['scandal', 'in', 'bohemia']

In [94]:
len(a.split())

3

In [97]:
o_df.iloc[0:1, 0:1]

         hikayeler
1  scandal bohemia

In [100]:
o_df.apply(lambda x:len(str(x).split(" ")))

hikayeler      141
harf_sayisi     61
dtype: int64

In [101]:
o_df["kelime_sayisi"] = o_df["hikayeler"].apply(lambda x:len(str(x).split(" ")))

In [102]:
o_df

                    hikayeler  harf_sayisi  kelime_sayisi
1             scandal bohemia           15              2
2            redheaded league           16              2
3               case identity           13              2
4     boscombe valley mystery           23              3
5            five orange pips           16              3
6             man twisted lip           15              3
7    adventure blue carbuncle           24              3
8     adventure speckled band           23              3
9   adventure engineers thumb           25              3
10   adventure noble bachelor           24              3
11    adventure beryl coronet           23              3
12   adventure copper beeches           24              3

## Özel Karakterleri Yakalamak & Saydırmak

In [113]:
o_df["hikayeler"].apply(lambda x: len([x for x in x.split() if x.startswith("adventure")]))

1     0
2     0
3     0
4     0
5     0
6     0
7     1
8     1
9     1
10    1
11    1
12    1
Name: hikayeler, dtype: int64

In [114]:
o_df["ozel_karakter_sayisi"] = o_df["hikayeler"].apply(lambda x: len([x for x in x.split() if x.startswith("adventure")]))

In [115]:
o_df

,hikayeler,harf_sayisi,kelime_sayisi,ozel_karakter_sayisi
1,scandal bohemia,15,2,0
2,redheaded league,16,2,0
3,case identity,13,2,0
4,boscombe valley mystery,23,3,0
5,five orange pips,16,3,0
6,man twisted lip,15,3,0
7,adventure blue carbuncle,24,3,1
8,adventure speckled band,23,3,1
9,adventure engineers thumb,25,3,1
10,adventure noble bachelor,24,3,1
11,adventure beryl coronet,23,3,1
12,adventure copper beeches,24,3,1

## Sayıları Yakalamak & Saymak

In [116]:
mdf["hikayeler"].apply(lambda x: len([x for x in x.split() if x.isdigit()]))

1     1
2     0
3     1
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
Name: hikayeler, dtype: int64

In [117]:
o_df["sayi_sayisi"] = mdf["hikayeler"].apply(lambda x: len([x for x in x.split() if x.isdigit()]))

In [118]:
o_df

,hikayeler,harf_sayisi,kelime_sayisi,ozel_karakter_sayisi,sayi_sayisi
1,scandal bohemia,15,2,0,1
2,redheaded league,16,2,0,0
3,case identity,13,2,0,1
4,boscombe valley mystery,23,3,0,0
5,five orange pips,16,3,0,0
6,man twisted lip,15,3,0,0
7,adventure blue carbuncle,24,3,1,0
8,adventure speckled band,23,3,1,0
9,adventure engineers thumb,25,3,1,0
10,adventure noble bachelor,24,3,1,0
11,adventure beryl coronet,23,3,1,0
12,adventure copper beeches,24,3,1,0

# Sentiment Analizi ve Sınıflandrıma Modelleri

In [3]:
#!pip install keras

In [6]:
#!pip install tensorflow

In [11]:
from textblob import TextBlob
from sklearn import model_selection, preprocessing, linear_model, naive_bayes, metrics
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn import decomposition, ensemble

import pandas, xgboost, numpy, textblob, string
from keras.preprocessing import sequence
import tensorflow.keras.preprocessing.text
from keras import layers, models, optimizers

In [12]:
import pandas as pd
data = pd.read_csv("train.tsv", sep = "\t")

In [13]:
data.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [15]:
data.loc[data["Sentiment"] == 0, "Sentiment"] = "negatif"
data.loc[data["Sentiment"] == 1, "Sentiment"] = "negatif"

In [16]:
data.loc[data["Sentiment"] == 2, "Sentiment"] = "pozitif"
data.loc[data["Sentiment"] == 3, "Sentiment"] = "pozitif"

In [17]:
data.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,negatif
1,2,1,A series of escapades demonstrating the adage ...,pozitif
2,3,1,A series,pozitif
3,4,1,A,pozitif
4,5,1,series,pozitif

In [19]:
data = data[(data.Sentiment == "negatif") | (data.Sentiment == "pozitif")]

In [20]:
data.groupby("Sentiment").count()

           PhraseId  SentenceId  Phrase
Sentiment
negatif       34345       34345   34345
pozitif      112509      112509  112509

In [21]:
df = pd.DataFrame()
df["text"] = data["Phrase"]
df["label"] = data["Sentiment"]

In [22]:
df.head()

                                                text    label
0  A series of escapades demonstrating the adage ...  negatif
1  A series of escapades demonstrating the adage ...  pozitif
2                                           A series  pozitif
3                                                  A  pozitif
4                                             series  pozitif